<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application android:usesCleartextTraffic="true">

        <activity
            android:name="com.likeminds.feed.android.core.post.detail.view.LMFeedPostDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMFeedAppTheme.NoActionBar" />

        <activity
            android:name="com.likeminds.feed.android.core.activityfeed.view.LMFeedActivityFeedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMFeedAppTheme.NoActionBar" />

        <activity
            android:name=".likes.view.LMFeedLikesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMFeedAppTheme.NoActionBar" />

        <activity
            android:name=".report.view.LMFeedReportActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMFeedAppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".post.edit.view.LMFeedEditPostActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMFeedAppTheme.NoActionBar" />

        <activity
            android:name=".topicselection.view.LMFeedTopicSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMFeedAppTheme.NoActionBar" />

        <activity
            android:name=".post.create.view.LMFeedCreatePostActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMFeedAppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".poll.result.view.LMFeedPollResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMFeedAppTheme.NoActionBar" />
    </application>

</manifest>