<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:usesCleartextTraffic="true">

        <activity
            android:name="com.likeminds.feed.android.core.post.detail.view.LMFeedPostDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMFeedAppTheme.NoActionBar" />

        <activity
            android:name="com.likeminds.feed.android.core.activityfeed.view.LMFeedActivityFeedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMFeedAppTheme.NoActionBar" />

        <activity
            android:name=".likes.view.LMFeedLikesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMFeedAppTheme.NoActionBar" />
    </application>

</manifest>